/**layout**/
html {
  padding: 0 !important;
  margin: 0 !important;
}
body {
  margin: 0 !important;
  background: #111;
}
a.brand {
  text-decoration: none !important;
  color: #000;
}
/* .half-vh {
    height: 55vh !important;
} */
.half-vh {
  height: 300px !important;
}
.footer-height {
  height: 250px;
}

.toggle {
  display: none;
}
.top-nav {
  direction: rtl;
}

.quaretr-vh {
  height: 200px !important;
}
.less-vh {
  height: 20vh;
}

.copy-right {
  margin-top: 1rem;
}
.bg-img-1 {
  background-image: url("../img/mantalking.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-img-2 {
  background-image: url("../img/laptop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.short {
  height: 16px;
}

.bg-logo-1 {
  background-image: url("../img/logo-4.png");
  animation-delay: 0 !important;
}
.bg-logo-2 {
  background-image: url("../img/logo-2.png");
  animation-delay: 0 !important;
}
.bg-logo-3 {
  background-image: url("../img/logo-3.png");
  animation-delay: 0.2s !important;
}
.bg-logo-4 {
  background-image: url("../img/logo-4.png");
  animation-delay: 0.2s !important;
}
.bg-logo-5 {
  background-image: url("../img/logo-2.png");
  animation-delay: 0.4s !important;
}
.bg-logo-6 {
  background-image: url("../img/logo-3.png");
  animation-delay: .4s !important;
}

.bg-logo-1,
.bg-logo-2,
.bg-logo-3,
.bg-logo-4,
.bg-logo-5,
.bg-logo-6 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.txt-beige-shadow {
  color: #d6d6c2;
}

/**test**/

.black {
  background: #000;
  color: #eee;
}
.black-tint-1 {
  background: #222;
  color: #eee;
}
.blue {
  background: navy;
}
.green {
  background: green;
}
.yellow {
  background: yellow;
}
.lemon {
  background: lime;
}
.emerald {
  background: #6175bd;
}
.emerald-border {
  border: 1px solid #6175bd !important;
}
.bg-beige {
  background: beige;
}
.pl-custom {
  padding-left: 0 !important;
}
.pr-custom {
  padding-right: 0 !important;
}
.pl-custom-2 {
  padding-left: 0 !important;
}
.pr-custom-2 {
  padding-right: 0 !important;
}

.equal-padding {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/**media queries**/
@media (min-width: 320px) {
  /* .equal-padding {
        padding-left: 0;
    }
     .pl-custom {
        padding-left: 20px !important;
    }
    .pr-custom {
        padding-right: 20px !important;
    }
    .pl-custom-2 {
        padding-left: 10px !important;
    }
    .pr-custom-2 {
        padding-right: 10px !important;
    }
    .quaretr-vh {
        height: 220px !important;
    } */
}
@media (min-width: 576px) {
  .equal-padding {
    padding-left: 0;
  }
  .pl-custom {
    padding-left: 30px !important;
  }
  .pr-custom {
    padding-right: 30px !important;
  }
  .pl-custom-2 {
    padding-left: 15px !important;
  }
  .pr-custom-2 {
    padding-right: 15px !important;
  }
  .quaretr-vh {
    height: 300px !important;
  }
  .block-title {
    font-size: 1.75rem;
  }
  .bg-logo-1 {
    animation-delay: 0s !important;
  }
  .bg-logo-2 {
    animation-delay: 0.2s !important;
  }
  .bg-logo-3 {
    animation-delay: 0.4s !important;
  }
  .bg-logo-4 {
    animation-delay: 0.6s !important;
  }
  .bg-logo-5 {
    animation-delay: 0.8s !important;
  }
  .bg-logo-6 {
    animation-delay: 1s !important;
  }
}
@media (min-width: 768px) {
  .equal-padding {
    padding-left: 0;
  }
  .pl-custom {
    padding-left: 60px !important;
  }
  .pr-custom {
    padding-right: 60px !important;
  }
  .pl-custom-2 {
    padding-left: 30px !important;
  }
  .pr-custom-2 {
    padding-right: 30px !important;
  }
  .toggle {
    display: block;
  }
  .top-nav {
    direction: ltr;
  }
  .half-vh {
    height: 360px !important;
  }
  .footer-height {
    height: 360px !important;
  }
}
@media (min-width: 992px) {
  .pl-custom {
    padding-left: 120px !important;
  }
  .pr-custom {
    padding-right: 120px !important;
  }
  .pl-custom-2 {
    padding-left: 60px !important;
  }
  .pr-custom-2 {
    padding-right: 60px !important;
  }
}
@media (min-width: 1200px) {
  body {
    padding: 0 115px !important;
  }
  .block-title {
    font-size: 2rem;
  }
}
