* {
  box-sizing: border-box;
}

body {
  background: #666555 !important;
  width: 100%;
  height: 100%;
  color: rgb(255, 243, 190) !important;
  font-family: 'Lato', sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 2px;
}

.top-nav {
  position: relative;
  border-bottom: 3px solid #ffc107;
}
h2 {
  font-size: 1.2rem !important;
}
.list-text {
  font-size: 0.8rem !important;
  letter-spacing: 0.5px;
}
.list-btn {
  font-size: 0.9rem !important;
}
.red {
  background: grey;
}
.green {
  background: #555;
}
.blue {
  background: beige;
}
.ht {
  height: 250px;
}
.ht-lg {
  height: 500px;
}
.hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/guitar-hero.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vh - 60px);
}

.quote-col {
  background: rgb(63, 31, 63);
  position: relative;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 0px 100px -30px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 100px -30px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 100px -30px rgba(255, 255, 255, 0.5);
  letter-spacing: .5px;
}


.hidden {
  display: none;
}

.welcome-text {
  position: absolute;
  width: 100%; 
  margin: 0;
  text-align: center;
  font-size: 3.5rem;
  -webkit-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.5); 
  bottom: 0;
  left: 0;
  background: rgba(63, 31, 63, .5);
  color: #ffc107;
}
.vertical-mr-xg {
  margin-top: 200px;
}
.vertical-mr-lg {
  margin-top: 100px;
}
.vertical-mr-md {
  margin-top: 75px;
}
.vertical-mr-sm {
  margin-top: 35px;
}

.vertical-mr-xs {
  margin-top: 20px;
}

.horizontal-pd-md {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.horizontal-pd-sm {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #999;
  background: #999;
  color: #999;
  text-align: center;
  width: 30%;
}

hr:after {
  content: "♬";
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #444;
}

.has-overlay {
  transition: all 0.3s ease-in-out;
}

.has-overlay:hover {
  filter: sepia(100%);
}

a {
  display: block;
  text-decoration: none !important;
}
a:hover {
  color: rgb(248, 209, 37) !important;
}

.img-fit {
  height: 100%;
}

.img-thumb-1 {
  background-image: url("../img/seth-macey-340997-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img-thumb-2 {
  background-image: url("../img/pexels-photo-1407322.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.quarter-col {
  position: relative;
}
.quarter-col:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 100%;
  border: 1px solid #555;
  width: 0;
  height: 60%;
}

.page-footer {
  position: relative;
  border-top: 3px solid #ffc107;
}

.page-footer:after {
  content: "";
  position: absolute;
  top: 20%;
  left: 100%;
  border: 1px solid #555;
  width: 0;
  height: 60%;
}
.page-footer-right {
  border-top: 3px solid #ffc107;
}

.img-left,
.img-right,
.img-center {
  width: auto;
  height: auto;
  position: relative;
}

.quote {
  padding: 0 40px !important;
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    background: #49525a;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #ffc107;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 1.5rem !important;
  }
  .list-text {
    font-size: 1rem !important;
  }
  .list-btn {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 768px) {
  .hero-img:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 12%;
    background: #444;
    width: 76%;
    height: 1725px;
    z-index: -2000;
  }
  .quote-col:before {
    position: absolute;
    content: "";
    top: -22%;
    left: 1.1%;
    border-top: 24px solid transparent;
    border-right: 24px solid rgb(63, 31, 63);
    border-bottom: 24px solid rgb(63, 31, 63);
    border-left: 24px solid transparent;
    transform: rotate(25deg);
    z-index: -10000;
  }
  .quote-col:after {
    position: absolute;
    content: "";
    top: -22%;
    right: 1.1%;
    border-top: 24px solid transparent;
    border-left: 24px solid rgb(63, 31, 63);
    border-bottom: 24px solid rgb(63, 31, 63);
    border-right: 24px solid transparent;
    transform: rotate(-25deg);
    z-index: -10000;
  }
}

@media screen and (min-width: 575px) {
  .img-right:after {
    content: "Electric guitar";
    position: absolute;
    top: 15%;
    right: -15%;
    height: 100%;
    width: 100%;
    background: #49525a;
    -webkit-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.78);
    -moz-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.78);
    box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.78);
    z-index: -1;
    color: #49525a;
    padding-top: 55%;
    text-align: center;
    font-size: 1.25rem;
  }

  .img-center:after {
    content: "Acoustic guitar";
    position: absolute;
    top: 15%;
    right: 0;
    height: 100%;
    width: 100%;
    background: #49525a;
    -webkit-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.78);
    -moz-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.78);
    box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.78);
    z-index: -1;
    color: #49525a;
    padding-top: 55%;
    text-align: center;
    font-size: 1.25rem;
  }

  .img-left:after {
    content: "Classic guitar";
    position: absolute;
    top: 15%;
    left: -15%;
    height: 100%;
    width: 100%;
    background: #49525a;
    -webkit-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.78);
    -moz-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.78);
    box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 0.78);
    z-index: -1;
    color: #49525a;
    padding-top: 55%;
    text-align: center;
    font-size: 1.25rem;
  }

  .img-left:after,
  .img-right:after,
  .img-center:after {
    transition: all 0.3s ease-in-out;
  }

  .img-left:hover::after {
    background: #ffc107;
    -webkit-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    top: 30%;
    left: -30%;
  }
  .img-right:hover::after {
    background: #ffc107;
    -webkit-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    top: 30%;
    right: -30%;
  }
  .img-center:hover::after {
    background: #ffc107;
    -webkit-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    top: 30%;
  }
  .img-thumb-1:after {
    content: "";
    position: absolute;
    top: -15%;
    left: -15%;
    height: 100%;
    width: 100%;
    background: #ffc107;
    -webkit-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    z-index: -100;
  }
  .img-thumb-1.anim1:after {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }
  .img-thumb-2:after {
    content: "";
    position: absolute;
    top: 15%;
    right: -15%;
    height: 100%;
    width: 100%;
    background: #ffc107;
    -webkit-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 0px 130px -38px rgba(255, 255, 255, 1);
    z-index: -100;
  }
  .img-thumb-2.anim2:after {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
  }
  .img-thumb-2 {
    order: 4;
  }
}
@media screen and (min-width: 1200px) {
  .quote-col:before {
    position: absolute;
    content: "";
    top: -23%;
    left: 0.5%;
    border-top: 20px solid transparent;
    border-right: 20px solid rgb(63, 31, 63);
    border-bottom: 20px solid rgb(63, 31, 63);
    border-left: 20px solid transparent;
    transform: rotate(25deg);
    z-index: -10000;
  }
  .quote-col:after {
    position: absolute;
    content: "";
    top: -23%;
    right: 0.5%;
    border-top: 20px solid transparent;
    border-left: 20px solid rgb(63, 31, 63);
    border-bottom: 20px solid rgb(63, 31, 63);
    border-right: 20px solid transparent;
    transform: rotate(-25deg);
    z-index: -10000;
  }
}
